@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada|Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada:300,400,600,700&subset=arabic,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700&subset=arabic');
@import url('https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&subset=arabic');
@import url('https://fonts.googleapis.com/css?family=Harmattan&subset=arabic');
@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&subset=arabic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Harmattan&subset=arabic');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700&subset=arabic,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900&subset=arabic');
body{
    direction: rtl;
    margin-top:0px;
    margin-bottom:0px;
    margin: 0 auto;
    text-align: center;
}
.headerr1{
    background-color:dimgrey;
    border-radius: 5px;
    color:white;
    font-family: 'Cairo', sans-serif;
    font-size:70px;
    padding-top:20px;
    padding-bottom:20px;
    height: 200px;
}
.ex1{
    font-family: 'El Messiri', sans-serif;
    line-height: 35px;
    font-size: 20px;
    margin-top:5px;
    border:2px solid black;
    border-radius: 5px 20px;
    width:1000px;
    padding:10px;
    text-align: center;
    margin-right:70px;
}
table, tr, td{
    border:2px solid black;
    border-collapse: collapse;
    
}
tr:hover{
    background-color: dimgray;
    color:white;
}
table{
    width:500px;
    text-align: center;
    margin-right:400px;
    border-radius: 5px;
}
td{
    padding:10px;
    font-size: 20px;
    font-family: 'Tajawal', sans-serif; 
}
th{
    padding:10px;
    text-align: center;
}
#h44{
    font-family: 'Harmattan', sans-serif;
    font-size: 28px;
}
.body{
    padding-bottom:5px;
    padding-top:5px;
    margin:auto;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:white;
}
#f{
    margin-bottom:0 px;
    height:20px;
    background-color: dimgrey;
}